output/
.stack-work/
dist-newstyle/
libtorch-test/build
codegen/build/
.ghc.environment*
deps/mklml
cabal.project.local
cabal.project.freeze
venv/
**/dist/
**/result*
**/hie.log
**/hie.err
*.swp
*.lock
examples/static-mnist/data
**/.DS_Store
*.pt
