[submodule "deps/pytorch"]
	path = deps/pytorch
	url = https://github.com/pytorch/pytorch.git
[submodule "inline-c"]
	path = inline-c
	url = https://github.com/hasktorch/inline-c.git
[submodule "fficxx"]
	path = fficxx
	url = git@github.com:hasktorch/fficxx.git
