[submodule "ffi"]
	path = ffi
	url = git@github.com:hasktorch/ffi.git
  branch = master
# [submodule "vendor/opto"]
#   path = vendor/opto
#   url = https://github.com/mstksg/opto.git
[submodule "dhall"]
	path = dhall
	url = git@github.com:hasktorch/dhall.git
