Source: libaten-dev
Section: unknown
Priority: extra
Maintainer: Junji Hashimoto<junji.hasimoto@gree.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: https://github.com/hasktorch/hasktorch

Package: libaten-dev
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ATen library for hasktorch
