name: nix-macos

on: [push, pull_request]

jobs:
  # tests:
  #   runs-on: macOS-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: cachix/install-nix-action@v10
  #     - run: nix-env -iA cachix -f https://cachix.org/api/v1/install
  #     - run: cachix use hasktorch
  #     - run: cachix use iohk
  #     - run: |
  #         nix-build -j 2 -A haskellPackages.libtorch-ffi.checks.spec
  #         nix-build -j 2 -A haskellPackages.hasktorch.checks.spec
  #         nix-build -j 2 -A haskellPackages.examples.checks.spec
  build-cache:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v12
      - uses: cachix/cachix-action@v8
        with:
          name: hasktorch
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - run: |
          ./setup-iohk-cache.sh
      - run: |
          nix-build -j 2 -A haskellPackages.libtorch-ffi.checks.spec
          nix-build -j 1 -A haskellPackages.hasktorch.checks.spec
          nix-build -j 1 -A haskellPackages.examples
