name: nix-linux

on: [push, pull_request]

jobs:
  # tests:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: free disk space
  #       run: |
  #         sudo swapoff -a
  #         sudo rm -f /swapfile
  #         sudo apt -y purge ghc* cabal-install* php* || true
  #         sudo apt autoremove -y || true
  #         sudo apt autoclean -y || true
  #         docker rmi $(docker image ls -aq)
  #         df -h
  #     - uses: cachix/install-nix-action@v10
  #     - run: nix-env -iA cachix -f https://cachix.org/api/v1/install
  #     - run: cachix use hasktorch
  #     - run: cachix use iohk
  #     - run: |
  #         nix-build -j 2 -A haskellPackages.libtorch-ffi.checks.spec
  #         nix-build -j 2 -A haskellPackages.hasktorch.checks.spec
  #         nix-build -j 2 -A haskellPackages.examples.checks.spec
  build-cache:
    if: github.repository == 'hasktorch/hasktorch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: free disk space
        run: |
          sudo swapoff -a
          sudo rm -f /swapfile
          sudo apt -y purge ghc* cabal-install* php* || true
          sudo apt autoremove -y || true
          sudo apt autoclean -y || true
          docker rmi $(docker image ls -aq)
          df -h
          cat /proc/cpuinfo
          cat /proc/meminfo
      - uses: cachix/install-nix-action@v14
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/vij683ly7sl95nnhb67bdjjfabclr85m/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
            allow-import-from-derivation = true
      - uses: cachix/cachix-action@v10
        with:
          name: hasktorch
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - run: |
          .github/workflows/setup-iohk-cache.sh
          sed -i -e 's/"x86_64-linux" "x86_64-darwin"/"x86_64-linux"/g' flake.nix
          nix flake show
      - run: |
          ps -aux
          free
          export NIX_BUILD_CORES=1

          nix build '.#codegen:test:doctests' -L -j 1
          nix build '.#codegen:test:spec' -L -j 1
          #nix build '.#hasktorch-cpu:test:doctests' -L -j 1
          nix build '.#hasktorch-cpu:test:spec' -L -j 1
          #nix build '.#hasktorch-gradually-typed-cpu:test:doctests' -L -j 1
          nix build '.#hasktorch-gradually-typed-cpu:test:spec' -L -j 1
          nix build '.#libtorch-ffi-cpu:test:spec' -L -j 1

      - run: |
          ps -aux
          free
          export NIX_BUILD_CORES=1

          nix build '.#bounding-box-cpu:exe:bounding-box' -L -j 1
          nix build '.#codegen:exe:codegen-exe' -L -j 1
          nix build '.#dataloader-cifar10-cpu:exe:dataloader-cifar10' -L -j 1
          nix build '.#examples-cpu:exe:alexNet' -L -j 1
          nix build '.#examples-cpu:exe:autograd' -L -j 1
          nix build '.#examples-cpu:exe:distill' -L -j 1
          nix build '.#examples-cpu:exe:gaussian-process' -L -j 1
          nix build '.#examples-cpu:exe:gd-field' -L -j 1
          nix build '.#examples-cpu:exe:image-processing' -L -j 1
          nix build '.#examples-cpu:exe:iris-classification' -L -j 1
          nix build '.#examples-cpu:exe:load-torchscript' -L -j 1
          nix build '.#examples-cpu:exe:matrix-factorization' -L -j 1
          nix build '.#examples-cpu:exe:minimal-text-example' -L -j 1
          nix build '.#examples-cpu:exe:mnist-mixed-precision' -L -j 1
          nix build '.#examples-cpu:exe:mnist-mlp' -L -j 1
          nix build '.#examples-cpu:exe:optimizers' -L -j 1
          nix build '.#examples-cpu:exe:optimizers-cpp' -L -j 1
          nix build '.#examples-cpu:exe:optimizers-cpp-typed' -L -j 1
          nix build '.#examples-cpu:exe:regression' -L -j 1
          nix build '.#examples-cpu:exe:regularization' -L -j 1
          nix build '.#examples-cpu:exe:rnn' -L -j 1
          nix build '.#examples-cpu:exe:serialization' -L -j 1
          nix build '.#examples-cpu:exe:static-mnist-cnn' -L -j 1
          nix build '.#examples-cpu:exe:static-mnist-mlp' -L -j 1
          nix build '.#examples-cpu:exe:static-xor-mlp' -L -j 1
          nix build '.#examples-cpu:exe:typed-transformer' -L -j 1
          nix build '.#examples-cpu:exe:vae' -L -j 1
          nix build '.#examples-cpu:exe:xor-mlp' -L -j 1
          nix build '.#hasktorch-gradually-typed-cpu:exe:linear-regression' -L -j 1
          nix build '.#hasktorch-gradually-typed-cpu:exe:neural-interpreter' -L -j 1
          nix build '.#hasktorch-gradually-typed-cpu:exe:two-layer-network' -L -j 1
          nix build '.#untyped-nlp-cpu:exe:untyped-nlp' -L -j 1
