name: nix-linux

on: [push, pull_request]

jobs:
  build-cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
      - uses: DeterminateSystems/magic-nix-cache-action@v2
        with:
          upstream-cache: https://hasktorch.cachix.org
      - uses: cachix/cachix-action@v15
        with:
          name: hasktorch
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - run: |
            nix build --accept-flake-config .#codegen-cpu
            nix build --accept-flake-config .#hasktorch-cpu
            # nix build .#hasktorch-gradually-typed-cpu
            nix build --accept-flake-config .#libtorch-ffi-cpu
            nix build --accept-flake-config .#libtorch-ffi-helper-cpu
            nix build --accept-flake-config .#codegen-cuda
            nix build --accept-flake-config .#hasktorch-cuda
            # nix build .#hasktorch-gradually-typed-cuda
            nix build --accept-flake-config .#libtorch-ffi-cuda
            nix build --accept-flake-config .#libtorch-ffi-helper-cuda
            nix build --accept-flake-config .#devShells.x86_64-linux.cpu
            nix build --accept-flake-config .#devShells.x86_64-linux.cuda
