name: stack-nix-linux

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: free disk space
        run: |
          sudo swapoff -a
          sudo rm -f /swapfile
          sudo apt -y purge ghc* cabal-install* php* || true
          sudo apt autoremove -y || true
          sudo apt autoclean -y || true
          docker rmi $(docker image ls -aq)
          df -h
      - name: Setup packages
        run: |
          sudo rm -f /etc/apt/sources.list.d/sbt.list
          sudo apt update -qq
          sudo apt -y --allow-downgrades --allow-remove-essential --allow-change-held-packages install cmake curl wget unzip git libtinfo-dev python3 python3-yaml
          (wget -qO- https://get.haskellstack.org/ | sh) || true
      - uses: cachix/install-nix-action@v12
      - uses: cachix/cachix-action@v8
        with:
          name: hasktorch
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - run: nix-env -iA cachix -f https://cachix.org/api/v1/install
      - run: cachix use iohk
      - name: Cache .stack
        id: cache-stack
        uses: actions/cache@v2
        with:
          path: |
            ~/.stack
            .stack-work
          key: "\
            ${{ runner.os }}-stack\
            -${{ hashFiles('**/stack.yaml.lock') }}\
            -${{ hashFiles('**/package.yaml') }}\
          "
          restore-keys: |
            ${{ runner.os }}-nix-stack-
      - name: Build
        run: |
          stack --nix build \
            libtorch-ffi \
            libtorch-ffi-helper \
            hasktorch \
            codegen \
            examples \
            bounding-box \
            dataloader-cifar10 \
            untyped-nlp
      - name: Test
        run: |
          stack --nix test codegen
          stack --nix test libtorch-ffi
          stack --nix test hasktorch
          stack --nix exec codegen-exe
          stack --nix exec xor-mlp
